* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #262626;
}

h1,
h5 {
    color: #ffffff;
    text-align: center;
}

.container-1 {
    border: 2px solid wheat;
    height: 200px;
}

.container-2 {
    background: #ffffff;
    border: 1px solid black;
    height: 90px;
}

.img-fluid {
    height: inherit;
    padding: 6px;
    width: inherit;
}